
UnitTestSwiftCourse.xcworkspace/xcuserdata/cpenab.xcuserdatad/UserInterfaceState.xcuserstate

UnitTestSwiftCourse.xcworkspace/contents.xcworkspacedata

UnitTestSwiftCourse.xcworkspace/xcuserdata/cpenab.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

UnitTestSwiftCourse.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
